section
    form#edit-room
        section#bilddel
            img#bild[src=rum[:bild] alt="#{rum[:alt]}"]
            section.action
                section
                    input#bild-value type="text" placeholder="https://www.url.com/img.png" value="#{rum[:bild]}"
                    button#valj-bild Ändra
        section#huvuddel.rum_text[style="background-color: #{rum[:bakgrund]}"]
            input#title type="text" value="#{rum[:typ]}"
            textarea#beskrivning rows="4" resizable="off" = rum[:beskrivning]
            ul.align-left#list
                - rum[:punkter].each.with_index do |punkt, index|
                    input value="#{rum[:punkter][index]}"
            span.material-icon
            section.action
                section
                    input#valj-farg type="color" value="#{rum[:bakgrund]}"
                    button#reset Återställ
javascript: 
    let picker = document.getElementById("valj-farg")
    let imagePicker = document.getElementById("valj-bild")
    let bild = document.getElementById("bild")
    let imageField = document.getElementById("bild-value")
    let editRoom = document.getElementById("edit-room")
    let aterstall = document.getElementById("reset")

    let huvuddel = document.getElementById("huvuddel")

    const uppdateraFarg = (e) => {
        huvuddel.style.backgroundColor = e.currentTarget.value
    }

    imagePicker.onclick = () => {
        const url = imageField.value
        #{ rum[:bild] }

    }

    aterstall.onclick = (e) => {
        e.preventDefault()
        picker.value = "#{rum[:bakgrund]}"
        huvuddel.style.backgroundColor = "#{rum[:bakgrund]}"
    }

    picker.oninput = uppdateraFarg;
    editRoom.onsubmit = (e) => {
        e.preventDefault()


    }