#edit-room {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#edit-room > section {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#bilddel {
  position: relative;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.action > section {
  display: flex;
  flex-direction: row;
  flex: 0;
  padding: 1rem;
}

#title {
  text-align: center;
}

.align-left {
  align-self: flex-start;
}

#beskrivning {
  margin-top: 1rem;
  width: 90%;
}

#list {
  gap: 4px;
}

#list > * {
  display: list-item;
  list-style: circle;
}

a.edit {
  color: black;
}

.rum_text {
  position: relative;
}

.rum_text > div > a {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#add-list {
  font-size: medium;
  background-color: #fff;
  display: inline;
  color: black;
  border: 1px black solid;
  user-select: none;
  cursor: pointer;
}

#spara-rum {
  display: flex;
  margin: 40px;
  justify-content: center;
  align-items: center;
}

#spara-rum [type=submit] {
  padding: 1rem 2rem;
}

.container-md {
  max-width: 1170px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form {
  padding: 2rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius:0.2rem;
  display: flex;
  flex-direction: column;
  max-width: 20em;
}

.book-form {
  margin-top: 2em;
  flex: 1;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.link {
  color: black;
}

.links {
  display: flex;
  gap: 8px;
}